


<form id="registration" action="Home/AddCustomer" method="post">

    <label for="name">Name : </label>
    <input type="text" name="customer_name" id="name">
    <label for="phone">Phone : </label>
    <input type="tel" name="customer_phone" id="phone">
    <label for="address">Address : </label>
    <input type="text" name="customer_address" id="address">
    <label for="dob">Date Of Birth : </label>
    <input type="date" name="customer_dob" id="dob">
    <button type="submit">Submit</button>
</form>
