
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_BeforeLayout.cshtml";
}

<h2>Login Form</h2>

<form action="/Home/SignIn" method="post">
    <div class="form-outline mb-4">
        <label class="form-label" for="user_email"><b>Username</b></label>
        <input type="text" class="form-control" placeholder="Enter Username" name="user_email" required>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="user_password"><b>Password</b></label>
        <input type="password" class="form-control" placeholder="Enter Password" name="user_password" required>
    </div><br><br>
    <div class="form-outline mb-4">
        <button class="btn btn-primary btn-block mb-4" type="submit">Login</button>
    </div>
</form>
