
@{
    ViewBag.Title = "SignIn";
}

<h2>Login Form</h2>

<form action="/Home/SignIn" method="post">
    <div class="container">
        <label for="user_email"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="user_email" required>

        <label for="user_password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="user_password" required>

        <button type="submit">Login</button>
    </div>
</form>
